* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("content/big-ship.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: relative;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

p {
  margin: 12px;
}

img {
  /* display: flex; */
  width: 100%;
}


/**    Header  **/

.hamburger {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 24px;
}

.hamburger div {
  width: 30px;
  height: 7px;
  background: #fff;
  border-radius: 5px;
}

.blue {
  color: #61b0f5;
}

.white {
  background-color: #ffff;
}

.white p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/**    Top section  **/

.top-section {
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding-top: 40%;
  font-size: x-large;
  align-items: center;
  justify-content: center;
}

.top-section a {
  font-size: 1rem;
  width: 40px;
  height: 25px;
}

.top-section p {
  margin-top: 20px;
}

.border {
  border: solid 2px #ffff;
  padding: 0.5rem;
}

.white-button {
  background-color: #ffff;
  border: solid #fff;
  padding: 0.5rem;
}

/**    About section **/

.about {
  background-color:#61b0f5b7;
  color: #ffffff;
  padding: 1.5em;
}

/**    Contact section  **/

.contact-form {
  background-color:#61b0f5b7;
  color: #ffffff;
  padding: 1.5em;
}

.text-input {
  height: 50px;
  width: 180px;
}

.submit {
  width: fit-content;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  margin: 10px;
  background: transparent;
  color: #fff;
  border-color: #fff;
  border-style: solid;
}

/**    Cards section  **/
h4 {
  padding:20px;
}

.card {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

/**    Map section  **/

iframe {
  width: 100%;
  height: auto;
  position: relative;
}


/**    Footer section  **/

footer {
  background-color: rgb(31, 29, 29);
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2rem;
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
background-color:black;
width: 20px;
height: 20px;
margin: 20px;
filter: invert();
padding: 5px;
border-radius: 2px;
}



/*** Media Queries ***/

@media (min-width: 499px) {

body {
  font-size: larger;
}

nav {
  font-size: x-large;
}

img {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
  /**    Top section  **/

.top-section {
  padding-top: 20%;
  font-size: xx-large;
  background-color: rgba(0, 0, 139, 0.192);
}

.hamburger {
  display: none;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-form {
  width: 100%;
 justify-content: center;
}

}

@media (min-width: 1024px) {

.top-section {
  padding-top: 5%;
}
.about {
  padding: 5px 25% 10px 25%;
  font-size: x-large;
}

.card {
  max-width: 50%;
  flex-wrap: wrap;
  font-size: x-large;
 }

.white {
  display: flex;
  flex-direction: row;
}

.text-input {
  height: 100px;
  width: 280px;
 }

}

